<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body id="page1">
  <div class="opaqueBox">
    <div class="box">
    <h2> Rats to Restaurants </h2>
      <a href="../rats">Rats</a><br>
      <a href="../restaurants">Restaurants</a><br><br>
    </div>
  </div>
</body>
</html>
